/*css login register*/
.auth-page {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    height: 100vh;
    background: url("../images/bg.jpg") no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.auth-page::before {
    content: "";
    position: absolute;
    inset: 0;

    backdrop-filter: blur(6px);
}

/* Card */
.auth-container {
    position: relative;
    background: white;
    padding: 40px;
    width: 380px;
    border-radius: 16px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.auth-container h2 {
    text-align: center;
    margin-bottom: 25px;
    font-weight: 600;
}

.auth-container input {
    width: 100%;
    padding: 12px;
    margin-bottom: 18px;
    border-radius: 10px;
    border: 1px solid #ddd;
    font-size: 14px;
}

.auth-container input:focus {
    outline: none;
    border-color: #6366f1;
    box-shadow: 0 0 0 2px rgba(99, 102, 241, 0.2);
}

.auth-container button {
    width: 100%;
    padding: 12px;
    background: linear-gradient(135deg, #6366f1, #8b5cf6);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    transition: 0.3s;
}

.auth-container button:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(99, 102, 241, 0.4);
}

.auth-container p {
    text-align: center;
    margin-top: 18px;
    font-size: 14px;
}

.auth-container a {
    color: #6366f1;
    text-decoration: none;
    font-weight: 600;
}

.error {
    color: #ef4444;
    font-size: 14px;
    margin-bottom: 15px;
    text-align: center;
}

.google-btn {
    width: 100%;
    margin-top: 10px;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background: #fff;
    border: 1px solid #ddd;
    cursor: pointer;
    font-weight: 600;
}